<div class="container center">
    <div class="row">
        <div class="col-lg-12  mt-5 w-50 " id="cont">
            <div class="card ">
                <div class="text-center">
                    <h1>Sign Up</h1>
                    <h6> Please Register Yourself ✔ </h6>
                </div>
                <form>

                    <form [formGroup]="signupForm">
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Full Name</label>
                            <input formControlName="fullname" type="text" class="form-control"
                                id="exampleInputPassword1" placeholder="Full Name">
                            <span class="text-danger"
                                *ngIf="signupForm.controls['fullname'].touched && signupForm.hasError('required','fullname')">Fullname
                                is required</span>

                        </div>

                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="email">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            <span class="text-danger"
                                *ngIf="signupForm.controls['email'].touched && signupForm.hasError('required','email')">Email
                                is required</span>

                        </div>

                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Mobile No.</label>
                            <input formControlName="mobile" type="number" class="form-control"
                                id="exampleInputPassword1" placeholder="Mobile Number">
                            <span class="text-danger"
                                *ngIf="signupForm.controls['mobile'].touched && signupForm.hasError('required','mobile')">Mobile
                                No. is required</span>

                        </div>

                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input formControlName="password" type="password" class="form-control"
                                id="exampleInputPassword1" placeholder="password">
                            <span class="text-danger"
                                *ngIf="signupForm.controls['password'].touched && signupForm.hasError('required','password')">password
                                is required</span>

                        </div>

                        <p style="color: white;">Date Of Birth</p>
                        <div class="contain">

                            <ejs-datetimepicker placeholder="Your Date Of Birth and Birth Time" [max]="maxDate"
                                [enableMask]="true" format="dd-MMM-yy hh:mm">

                            </ejs-datetimepicker>
                            
                        </div>

                        <div>
                            <form [formGroup]="imageGroup" (ngSubmit)="onSubmit()"  >   
                                <h3 style="position: relative; top:10px; left: 15px; color: brown;"></h3>

                                <div *ngIf="filePath && filePath !== ''">   
                                    <img [src]="filePath" [alt]="imageGroup.value.name"
                                        style="height:150px; width: 150px; position: relative; top: 30px;">
                                </div>
                                <br>
                                <br>
                                <p style="color: white;">upload your image 📁 </p>

                                <button *ngIf="filePath" (click)="delete()">Delete</button>
                                <input type="file" accept="image/*" (change)="imagePreview($event)"
                                    style="position: relative; top:50px; left:20px;" />

                                <!-- <input formControlName="filename" placeholder="File name" style="position: relative; top:100px; right:275px;">
                                
                                  <button type="submit" style="position: relative; top:100px; right:270px;">Upload</button>
                             -->
                            </form>
                        </div>
                        <br><br><br>



                        <p style="color: white;">Pick Your Hobby</p>

                        <!-- Using Items Input -->

                        
                        
                        <ng-select [items]="country" bindLabel="name" placeholder="Your Hobby" appendTo="body"
                            [multiple]="true" [(ngModel)]="selected" [ngModelOptions]="{standalone: true}">
                        </ng-select>


                        <br>


                        <br> <br>
                        <button type="submit" [disabled]="!signupForm.valid"
                            class="btn btn-primary mb-2">Sign Up</button>

                        <button  (click)="Clear()"
                            class="btn btn-primary mb-2" id="secondbtn">Clear Form</button>


                    </form>

                    <a id="login" style="color: #fff ; margin: top 10px;" routerLink="/login"> Already have an account
                        please <span>Login</span> </a>

                </form>

            </div>

        </div>

    </div>

</div>